@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* NAVBAR 

.navbar {
  
  /*padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background: #312f2f;
  border-bottom: 1px solid #1f1f1c; 

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar h1 {
  color: #def135;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #c0ce00;
}


@media (max-width: 700px) {
  .navbar {
    display: block;
    text-align: center;
  }
  
  .navbar ul {
    text-align: center;
    justify-content: center;
  }
  
  .navbar h1 {
    margin-bottom: 1rem;
  }
  
  .navbar .welcome {
    display: none;
  }
  }
/* HOME */

.home {
  
  margin: 40px 10px;
  padding: 20px;
  border-bottom: 1px solid #1f1f1c;
  
}
.home h1 {
  color: #def135;
}
.home .links {
  margin-left: auto;
}
.home a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

/* DETAILS */

.details  {
  padding : 10px 0px;
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* SKILL */
.skill {
  
  margin: 40px 10px;
  padding: 20px;
  border-bottom: 1px solid #1f1f1c;
  
}
.imagebox {
  padding : 20px;
  display: flex;
}

.image {
  padding: 10px;
  margin: 0 auto;
}

/* PROJECT */

.project {
  margin: 40px 10px;
  padding: 20px;
  border-bottom: 1px solid #1f1f1c;
  
}

.section{
  padding : 10px;
  display: flex;
}

.block{

  padding: 20px;
  margin: 0 auto;
  
}

.pro{
  max-width: 100%;
  height: auto;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
