@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(248, 242, 242);
  background-color: #141434;
}



.section__heading{
  
  margin: 0 auto;
  padding: 50px 500px 50px 500px;
  font-size: 3rem;
  font-weight: 600;
  font-family: sans-serif;
}

@media screen and (max-width :1100px) {
  .section__heading{
    padding: 0 100px 50px 150px;
  }
}

@media screen and (max-width :600px) {
  .section__heading{
    padding: 0 100px 50px 80px;
  }
}



/* SKILL */
.skill {
  
  margin: 40px 10px;
  padding: 20px;
  border-bottom: 1px solid #1f1f1c;
  
}
.imagebox {
  padding : 20px;
  display: flex;
}

.image {
  padding: 10px;
  margin: 0 auto;
}

